# =========================
# COVID-19 Dataset
# =========================

# Ignore raw dataset
data/raw/covid_data.csv
data/raw/*.csv
data/cleaned_covid19_data.csv
data/*.csv

# Ignore all CSV files
*.csv

# Ignore ZIP files
*.zip

# Ignore Excel files
*.xlsx
*.xls

# Python cache
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environment
.venv/
venv/
env/
